Repository b-url/burl, pull requests merged in 2024-09, with the labels that each got.

#3 chore: Bootstrap CI pipelines and setup script
  .github/labeler.yml
  .github/workflows/go-module-build.yml
  .github/workflows/labeler.yml
  .gitignore
  .golangci.yaml
  README.md
  api/README.md
  cliff.toml
  cmd/burl/README.md
  cmd/burl/main.go
  cmd/server/README.md
  cmd/server/main.go
  commands/.gitkeep
  go.mod
  scripts/generate-labeler.sh
  scripts/generate-pr-changelog.sh
  scripts/hooks/pre-commit
  scripts/hooks/prepare-commit-msg
  scripts/setup.sh
  taskfile.yml
Labels: documentation, ci, app, api, client

#5 feat(typespec): Add Typespec code generation and OpenAPI go code generation
  api/codegen.cfg.v1.yaml
  api/generate.go
  api/openapi.v1.yaml
  api/typespec/.gitignore
  api/typespec/error.tsp
  api/typespec/main.tsp
  api/typespec/package-lock.json
  api/typespec/package.json
  api/v1/api.gen.go
  cmd/server/main.go
  go.mod
  go.sum
  scripts/tsp-compile.sh
  taskfile.yml
  tools.go
Labels: api

#9 fix: stop server on os signal
  cmd/server/serve.go
  cmd/server/serve_test.go
Labels: api

#10 feat(burl): Bootstrap the terminal user interface
  .gitignore
  api/client/client.gen.go
  api/generate.go
  api/oapi-client.yaml
  api/oapi-server-v1.yaml
  cmd/burl/main.go
  cmd/burl/root.go
  cmd/burl/tui/keys.go
  cmd/burl/tui/statusbar.go
  cmd/burl/tui/table.go
  cmd/burl/tui/tui.go
  cmd/server/main.go
  cmd/server/root.go
  commands/.gitkeep
  go.mod
  go.sum
  taskfile.yml
Labels: api

#11 feat(api): Define operations on collections
  api/client/client.gen.go
  api/openapi.v1.yaml
  api/typespec/main.tsp
  api/v1/api.gen.go
  cmd/server/api/api.go
  cmd/server/api/bookmark.go
  cmd/server/api/collection.go
Labels: api

#12 feat(api): Add get children operation in API spec
  api/client/client.gen.go
  api/openapi.v1.yaml
  api/typespec/main.tsp
  api/v1/api.gen.go
  cmd/server/api/collection.go
Labels: api

#13 refactor(api): Remove name property
  api/client/client.gen.go
  api/openapi.v1.yaml
  api/typespec/main.tsp
  api/v1/api.gen.go
Labels: api

#16 fix: Fix labeler config
  .github/labeler.yml
Labels: ci

#15 feat(config): Setup configuration with viper for client cli
  .vscode/launch.json
  cmd/burl/config.go
  cmd/burl/config/config.go
  cmd/burl/config/config_test.go
  cmd/burl/main.go
  cmd/burl/root.go
  cmd/burl/tui/statusbar.go
  cmd/burl/tui/table.go
Labels: client

#14 feat(migrations): added initial migration
  README.md
  docker-compose.yaml
  migrations/20240926071113_init.sql
  migrations/atlas.sum
  scripts/setup.sh
Labels: documentation
